<div class="main-container">
	<div class="top">
		<h1>Delicious Recipes!</h1>
		<p>Below are delicious recipes for your deal.<br/>Select the ones that you want and find out all the ingredients you need!</p>
	</div>
	<div class="selected">
		<h5>Selected Recipes:</h5>
		<label class="selected-label" ng-repeat="r in selectedRecipeNames">
			{{r}}
		</label>
		<h5>Ingredients Needed:</h5>
		<label class="selected-ingredient" ng-repeat="i in selectedIngredients">
			{{i}}
		</label>
	</div>
	<div class="filter container">
		<p style="text-align: left">Filter your recipe by ingredients</p>
		<button ng-click="selectAllIngredients(true)">Select All</button>
		<button ng-click="selectAllIngredients(false)">Unselect All</button>
		<div class="row">
			<label class="col-md-3 col-sm-3" ng-repeat="(key, val) in allIngredients">
				<input class="checkbox" type="checkbox" ng-model="allIngredients[key]" ng-change="filterChange()">{{key}}
			</label>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="each-recipe-container col-md-4 col-sm-4 col-xs-6" ng-repeat="recipe in recipeList">
				<recipe-dir recipe="recipe">
				</recipe-dir>
			</div>
		</div>
	</div>
</div>